.inline-toolbar {
  display: flex;
  justify-content: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  transition: opacity 0.75s;
  width: auto !important;
}
