html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.react-autosuggest__container {
  position: relative;
  padding: 1rem;
}

.autosuggest__input {
  width: 100%;
  border: 1px solid #d3dce0;
}

.react-autosuggest__input--focused {
  outline: none;
  border: 1px solid #3c80cf;
  box-shadow: 0 0 7px #3c80cf;
}

.autosuggest__suggestions-container {
  display: none;
}

.autosuggest__suggestions-container--open {
  display: block;
  width: 100%;
}

.autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.autosuggest__suggestion {
  cursor: pointer;
  border: 1px solid #d3dce0;
  border-top: 0;
}
