.toolbar {
  display: flex;
  padding: 10px;
  background-color: var(--toolbar-color);
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--border-color);

  &--fixed {
    position: fixed;
    top: 0;
  }

  & > button {
    border: 0;
  }
}
